$bk-1199: 1199px;
$bk-991: 991px;
$bk-767: 767px;

.container {
  width: 100% !important;
  max-width: 1410px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

//.wide {
//  width: 100%;
//  max-width: 1170px;
//  margin-left: auto;
//  margin-right: auto;
//}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin grid($break: "lg") {
  $col: 12;
  @for $i from 0 through $col {
    $maxWidth: ($i / 12) * 100%;
    @if $i == 0 {
      .#{$break + "-" + $i} {
        display: none;
      }
    } @else {
      .#{$break + "-" + $i} {
        max-width: $maxWidth;
        flex: 0 0 $maxWidth;
      }
    }
  }
}
@include grid("lg");
@media screen and (max-width: 1199px) {
  .container {
    max-width: 970px !important;
  }
}
@media screen and (max-width: 991px) {
  @include grid("md");
  .container {
    max-width: 750px !important;
  }
}
@media screen and (max-width: 767px) {
  @include grid("sm");
  .container {
    max-width: 100% !important;
  }
}
