.header-top {
  height: 40px;
  border-bottom: 1px solid rgba(#707070, .2);
  color: #707070;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &-list {
    display: flex;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    > img {
      margin-right: 10px;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    > img {
      margin-right: 10px;
      width: 16px;
      height: 16px;
    }
  }
}